@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body,
button {
  font-family: "Poppins", sans-serif;
}
button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background-color: var(--neutral-100);
  color: var(--neutral-900);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-big);
  line-height: var(--letter-height-big);
  letter-spacing: var(--letter-spacing-regular);
}
h2 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-regular);
  line-height: var(--letter-height-regular);
  letter-spacing: var(--letter-spacing-regular);
}
p {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  line-height: var(--letter-height-big);
  letter-spacing: var(--letter-spacing-regular);
}
